@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superhero Creator</h1>
    <p class="lead">Create Superheroes and store them in a database using this tool.</p>
    <p><a href="~/Superheroes" class="btn btn-primary btn-lg">View Superheroes &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <h2>Baman Piderman! Who?</h2>
        <img class="img-fluid" src="~/Content/img/724px-BamanPiderman-DoctorWho(pumkin).jpg" />
        <p>

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>